<div class="background">
<div class="container">
<center class="hometext">
<h1>RealSpeck</h1>
<p>Compare whether its cheaper to rent elsewhere!</p>

<p> <a class="waves-effect waves-light btn-large">Read More</a> </p>
</center>


</div>
</div>