
        <footer class="page-footer" style="position:fixed;bottom:0;left:0;width:100%;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"></h5>
                <p class="grey-text text-lighten-4"></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"></h5>
                <ul>
              
                </ul>
              </div>
            </div>
          </div>
        
          </div>
        </footer>
            